<tbody *ngFor="let item of data; let i = index">
    <a class="myButton" href = 'http://localhost:4200/dodajPisca/{{item.PisacID}}'>Uredi</a>                   
    <button (click)="delete(item.PisacID,i)" class="myButton">Izbrisi</button>
</tbody>


<table class="darkTable">
    <tbody *ngFor="let item of data;">
    <tr>
        <td>Ime</td>
        <td style ="text-align: center;">{{item.ImePisca}}</td>
    </tr>
    <tr>
        <td>Prezime</td>
        <td style ="text-align: center;">{{item.PrezimePisca}}</td>
    </tr>
    <tr>
        <td>Godina Rodjenja</td>
        <td style ="text-align: center;">{{item.GodinaRodjenja}}</td>
    </tr>
    <tr>
        <td>Nacionalnost</td>
        <td style ="text-align: center;">{{item.Nacionalnost}}</td>
    </tr>
    </tbody>
</table>

<h2 *ngFor="let item of data;">Knjige od {{item.ImePisca}} {{item.PrezimePisca}}</h2>
<a href = 'http://localhost:4200/dodajKnjiguPiscu' class="addButton">Dodaj</a>
<div class="col-md-12">
    <table class="myTable">
        <thead>
            <tr>
                <th>Naziv Knjige</th>
                <th>Cena</th>
                <th>Na stanju</th>
            </tr>
        </thead>
        <tbody *ngFor="let knjiga of knjige">
            <tr>
                <td style ="text-align: center;">{{knjiga.knjiga.NazivKnjige}}</td>
                <td style ="text-align: center;">{{knjiga.knjiga.Cena}}</td>
                <td style ="text-align: center;">{{knjiga.knjiga.KolicinaNaStanju}}</td>
            </tr>
        </tbody>
    </table>
</div>