<h1>Prodaje</h1>

<a href = 'http://localhost:4200/dodajProdaju' class="addButton">Dodaj</a>

<div class="col-md-12">
    <table class="myTable">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Cena</th>
                <th>Prodavac</th>
                <th>Kupac</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of data; let i = index;">
            <tr>
                <td style ="text-align: center;">{{item.Datum}}</td>
                <td style ="text-align: center;">{{item.UkupnaCena}}</td>
                <td style ="text-align: center;">{{item.korisnik.ImeKorisnika}} {{item.korisnik.PrezimeKorisnika}}</td>
                <td style ="text-align: center;">{{item.kupac.ImeKupca}} {{item.kupac.PrezimeKupca}}</td>
                <div class="btn-group">
                    <a class="myButton" href = 'http://localhost:4200/dodajProdaju/{{item.ProdajaID}}'>Uredi</a>                   
                    <button (click)="delete(item.ProdajaID, i)" class="myButton">Izbrisi</button>
                </div>
            </tr>
        </tbody>
    </table>
</div>


