<h1>Knjiga</h1>

<button class="addButton">Dodaj</button>

<div class="col-md-12">
    <table class="myTable">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Cena</th>
                <th>Prodavac</th>
                <th>Kupac</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of data">
            <tr>
                <td style ="text-align: center;">{{item.Datum}}</td>
                <td style ="text-align: center;">{{item.UkupnaCena}}</td>
                <td style ="text-align: center;">{{item.korisnik.ImeKorisnika}} {{item.korisnik.PrezimeKorisnika}}</td>
                <td style ="text-align: center;">{{item.kupac.ImeKupca}} {{item.kupac.PrezimeKupca}}</td>
                <div class="btn-group">
                    <button class="myButton">Uredi</button>
                    <button class="myButton">Izbrisi</button>
                </div>
            </tr>
        </tbody>
    </table>
</div>


