<div class="btnGroup">
   <p>
       <a href = 'http://localhost:4200/knjiga' class="myButton">  Knjiga</a>
        <a href = 'http://localhost:4200/tip' class="myButton">Tip Knjige</a>
        <a href = 'http://localhost:4200/korisnik' class="myButton">Korisnik</a>
        <a href = 'http://localhost:4200/kupac' class="myButton">Kupac</a>
    </p> 
    <p>
        <a href = 'http://localhost:4200/clanska' class="myButton">Clanska Karta</a>
        <a href = 'http://localhost:4200/pisac' class="myButton">Pisac</a>
        <a href = 'http://localhost:4200/nagrada' class="myButton">Nagrada</a>
        <a href = 'http://localhost:4200/prodaja' class="myButton">Prodaje</a>
    </p>
    <p>
        <a href = 'http://localhost:4200/izdavac' class="myButton">Izdavaci</a>
    </p>
</div>




