<h1>Izdavac</h1>

<a href = 'http://localhost:4200/dodajIzdavaca' class="addButton">Dodaj</a>

<div class="col-md-12">
    <table class="myTable">
        <thead>
            <tr>
                <th>Izdavac</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of data; let i = index;">
            <tr>
                <td style ="text-align: center;">{{item.NazivIzdavaca}}</td>
                <td style ="text-align: center;">{{item.GodinaOsnivanja}}</td>
                <td style ="text-align: center;">{{item.DrzavaOsnivanja}}</td>
                <div class="btn-group">
                    <a class="myButton" href = 'http://localhost:4200/izdavac/{{item.IzdavacID}}'>Vise informacija</a>                   
                    <a class="myButton" href = 'http://localhost:4200/dodajIzdavaca/{{item.IzdavacID}}'>Uredi</a>                   
                    <button (click)="delete(item.IzdavacID, i)" class="myButton">Izbrisi</button>
                </div>
            </tr>
        </tbody>
    </table>
</div>