<head></head>
<body>
    <div class="row" id="pozadina">
        <div class="col-md-7 p-lg-1 mx-auto my-6" style="text-align: center;">
            <h1 style="text-align: center; color: #5c54b0; font-family: 'Times New Roman', Times, serif;"> Tip Knjige</h1>
        </div>
    </div>
    <section class="dimenzije2  text-center" id="pozadina2">
    <div class="row" style="margin-left: 200pt; margin-top: 50pt;">
        <table class="Mojatabela">
            <thead>
                <tr style="color: white;">
                    <th>Tip Knjige</th>
                    <th>Opcije</th>

                </tr>
            </thead>
            <tbody *ngFor="let item of data; let i = index;">
                <tr>
                    <td style ="text-align: center;">{{item.NazivTipa}}</td>
                    <div>
                        <a href = 'http://localhost:4200/tip/{{item.TipID}}' class="dugmeViseInf">Vise informacija</a>
                        <a href = 'http://localhost:4200/dodajTip/{{item.TipID}}' class="dugmeUredi">Uredi</a>
                        <button (click)="delete(item.TipID, i)" class="dugmeIzbrisi">Izbrisi</button>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" style="margin-left: 500pt; margin-top: 50pt;">
        <a href = 'http://localhost:4200/dodajTip' class="dugmeDodaj">Dodaj</a>
    </div>
    </section>
</body>