<h1>Knjiga</h1>

<a href = 'http://localhost:4200/dodajKnjigu' class="addButton">Dodaj</a>

<div class="col-md-12">
    <table class="myTable">
        <thead>
            <tr>
                <th>Naziv Knjige</th>
                <th>Cena</th>
                <th>Na stanju</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of data; let i = index">
            <tr>
                <td style ="text-align: center;">{{item.NazivKnjige}}</td>
                <td style ="text-align: center;">{{item.Cena}}</td>
                <td style ="text-align: center;">{{item.KolicinaNaStanju}}</td>
                <div class="btn-group">
                    <a class="myButton" href = 'http://localhost:4200/dodajKnjigu/{{item.KnjigaID}}'>Uredi</a>                   
                    <button (click)="delete(item.KnjigaID, i)" class="myButton">Izbrisi</button>
                </div>
            </tr>
        </tbody>
    </table>
</div>


