<h1>Kupac</h1>
<body>
    <a href = 'http://localhost:4200/dodajKupca' class="addButton">Dodaj</a>

    <div class="col-md-12">
        <table class="myTable">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Adresa</th>
                    <th>Grad</th>
                    <th>Kontakt</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of data; let i = index;">
                <tr>
                    <td style ="text-align: center;">{{item.ImeKupca}}</td>
                    <td style ="text-align: center;">{{item.PrezimeKupca}}</td>
                    <td style ="text-align: center;">{{item.AdresaKupca}}</td>
                    <td style ="text-align: center;">{{item.GradKupca}}</td>
                    <td style ="text-align: center;">{{item.KontaktKupca}}</td>
                    <td style ="text-align: center;">{{item.EMailKupca}}</td>
                    <div class="btn-group">
                        <a class="myButton" href = 'http://localhost:4200/dodajKupca/{{item.KupacID}}'>Uredi</a>
                        <button (click)="delete(item.KupacID, i)" class="myButton">Izbrisi</button>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</body>