<h1>Pisci</h1>
<body>
    <button class="addButton">Dodaj</button>

    <div class="col-md-12">
        <table class="myTable">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Godina Rodjenja</th>
                    <th>Nacionalnost</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of data">
                <tr>
                    <td style ="text-align: center;">{{item.ImePisca}}</td>
                    <td style ="text-align: center;">{{item.PrezimePisca}}</td>
                    <td style ="text-align: center;">{{item.GodinaRodjenja}}</td>
                    <td style ="text-align: center;">{{item.Nacionalnost}}</td>
                    <div class="btn-group">
                        <button class="myButton">Uredi</button>
                        <button class="myButton">Izbrisi</button>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</body>