<h1>Pisci</h1>
<body>
    <a href = 'http://localhost:4200/dodajPisca' class="addButton">Dodaj</a>

    <div class="col-md-12">
        <table class="myTable">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Godina Rodjenja</th>
                    <th>Nacionalnost</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of data; let i = index;">
                <tr>
                    <td style ="text-align: center;">{{item.ImePisca}}</td>
                    <td style ="text-align: center;">{{item.PrezimePisca}}</td>
                    <td style ="text-align: center;">{{item.GodinaRodjenja}}</td>
                    <td style ="text-align: center;">{{item.Nacionalnost}}</td>
                    <div class="btn-group">
                        <a class="myButton" href = 'http://localhost:4200/pisac/{{item.PisacID}}'>Vise informacija</a>                   
                        <a class="myButton" href = 'http://localhost:4200/dodajPisca/{{item.PisacID}}'>Uredi</a>                   
                        <button (click)="delete(item.PisacID, i)" class="myButton">Izbrisi</button>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</body>